# When .gitignore seems to be not working, 
# !!!!!! Commit everything you want!
# Then, git rm -rf --cached .
# git add .
.idea/
.venv/
.vscode/
.coverage
set_aws_mfa.log
tests/func/__pycache__/
tests/unit/__pycache__/
set_aws_mfa.egg-info/
set_aws_mfa/__pycache__/
set_aws_mfa/cli/__pycache__/
set_aws_mfa/set_aws_mfa.egg-info
set_aws_mfa/data/__pycache__/
