[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
pre-commit = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
setuptools = "*"
bandit = "*"
pprint = "*"
set-aws-mfa = {editable = true,path = "."}
factory-boy = "*"

[requires]
python_version = "3.7"
